# Common configuration shared by all services
server:
  shutdown: graceful

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
  instance:
    preferIpAddress: true

spring:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

# Logging
logging:
  level:
    org.springframework: INFO

# Metrics
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
